<section class="item active">
    <img src="{{"assets/images/partner_3.jpg"|theme}}" alt="partner 1" />
    <div class="carousel-caption">
        {% content "carusel-partners-first-slide" %}
    </div>
</section>


<section class="item">
    <img src="{{"assets/images/partner_2.jpg"|theme}}" alt="partner 2" />
    <div class="carousel-caption">
        {% content "carusel-partners-second-slide" %}
    </div>
</section>


<section class="item">
    <img src="{{"assets/images/partner_1.jpg"|theme}}" alt="partner 3" />
    <div class="carousel-caption">
        {% content "carusel-partners-third-slide" %}
    </div>
</section>