==
<aside class="mobile-only mobile-prices">

			<br/><br/>

			<strong class="partners">— Coworking —</strong>

			<br/>

			<div class="basic box">

				<h3>Deň; <span class="desc">8€ / DEŇ</span></h3>
				<span class="benefits">Akýkoľvek voľný stôl, rýchly internet, uzamykateľná skrinka od 2€ / deň, tlačiareň od 0,04€ / strana.</span>

			</div>

			<div class="standard box">

				<hr/>
				<h3>Mesiac; <span class="desc">49€ / MESIAC</span></h3>
				<span class="benefits">Akýkoľvek voľný stôl, rýchly internet, uzamykateľná skrinka od 2€ / deň, tlačiareň od 0,04€ / strana <br> <strong> + bikesharing, špecializovaná knižnica, ovocný kôs v rámci F.U.P.</strong></span>

			</div>

			<div class="premium box">

				<hr/>
				<h3>VIP; <span class="desc">99€ / MESIAC</span></h3>
				<span class="benefits">Vlastný fixný stôl, skrinka, bikesharing, špecializovaná knižnica, bezplatná tlač a ovocný kôs v rámci F.U.P. <strong>+ 20% zľava na konzum, zľavy u partnerov.</strong></span>

			</div>

		</aside>




		<aside class="mobile-only mobile-prices">

			<br/><br/>

			<strong class="partners">— Prenájom —</strong>

			<br/>

			<div class="basic box">

				<h3>Malá eventovka; <span class="desc">30€ / hodina</span></h3>
				<span class="benefits">Kaviarenský priestor <strong>s kapacitou do 50 ľudí</strong> pre menšie firemné akcie, vernisáže, výstavy a iné kultúrne podujatia v príjemnej kaviarenskej atmosfére. *</span>

			</div>

			<div class="standard box">

				<hr/>
				<h3>Zasadacia miestnosť; <span class="desc">8€ / hodina</span></h3>
				<span class="benefits">Menší priestor <strong>s kapacitou do 15 ľudí</strong> s konferenčným stolom vhodné pre súkromné stretnutia, porady a pracovné prezentácie. V prostredí kaviarne priamo v centre mesta. *</span>

			</div>

			<div class="premium box">

				<hr/>
				<h3>Veľká eventovka; <span class="desc">35€ / hodina</span></h3>
				<span class="benefits">Priestor <strong>s kapacitou do 100 ľudí</strong> pre stredne veľké a veľké kultúrne podujatia, firemné akcie, filmové večery, tanečné a pohybové aktivity v srdci Košíc. *</span>

			</div>

			<p class="more-offer">
				<hr/>
				* K dispozícii projektor, flipchart a catering podľa potreby. <br> Pri prenájme na pravidelnej báze sa na cene radi dohodneme. <br> Všetky ceny sú uvedené s DPH.
			</p>

			<a class="phone-btn" href="tel:+421903710671">Rezervuj telefonicky</a>

        </aside>



		<aside class="mobile-only mobile-send">

			<br/><br/>

			<strong class="partners">— Vyskúšaj týždeň u nás! —</strong>

			<br/>

			<span id="mobilethanks">
				Ďakujeme za tvoj záujem! <br/>
				Čoskoro ťa budeme kontaktovať a zatiaľ sa u nás zastav na kávu, ktorú máš tentokrát na náš účet.
			</span>

			<form>

			<input type="text" placeholder="Meno" required="required" id="formName1" />
			<input type="email" placeholder="Email" required="required" id="formEmail1" />
			<input type="text" placeholder="Poznámka (nepovinné)" id="formNote1" />

			<div class="events-align">
			<input id="events1" type="checkbox" />
			<label for="events1">Prajem si dostávať newsletter o eventoch a o iných akciách.</label>
			</div>


			<button id="form1">ODOSLAŤ</button>

			</form>

		</aside>

		<aside class="mobile-only mobile-map">

			<br/><br/>

			<strong class="partners">— Kontakt —</strong>

			<br/>

			<a target="_blank" class="themap" href="https://goo.gl/maps/77GHg">
				<img src="{{"assets/images/maps.png"|theme}}" title="Zobraziť HalmiSpace v Google maps." />
			</a>

			<div id="rightbox">

				<p>HalmiSpace nájdeš medzi vysokými múrmi mestského paláca Halmiho dvor. Spoznáš nás podľa
					originálnej kaviarne <a target="_blank" class="white" href="https://www.facebook.com/HalmiCaffe?ref=hl">HalmiCaffe</a>, ktorá je miestom nášho neformálneho networkingu.</p>

				<strong>HalmiSpace</strong>

				<div class="box">
					Hlavná 21<br/>
					040 01 Košice<br/>
					0904 434 895
				</div>

				<div class="box">
					<a href="mailto:pridajsa@halmispace.sk?subject=Nový-coworker&body=Ahoj!" class="social">pridajsa@halmispace.sk</a>
					<a href="https://facebook.com/HalmiSpace" class="social" target="_blank">facebook.com/HalmiSpace</a><br/>
					<a href="https://twitter.com/HalmiSpace" class="social" target="_blank">twitter.com/HalmiSpace</a>
				</div>

				<i>Otvorené každý deň od 10:00 do 22:00.</i>

			</div>

		</aside>