<div class="modal fade" id="kontakt" tabindex="-1">
    <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&nbsp;</span>
    </button>
    <article class="modal-dialog modal-content">
        <a target="_blank" class="themap" href="https://goo.gl/maps/77GHg">
            <img src="{{"assets/images/maps.png"|theme}}" title="Zobraziť HalmiSpace v Google maps." />
        </a>
        <div id="rightbox">
            {% content "content-contact" %}
        </div>
    </article>
</div>